/* header */
.header-icon-img{
    width: 80px;
}

.navbar{
    background-color: var(--secondary--color);
    position:fixed;
    top:0;
    width: 100%;
    z-index: 8;
}
.navbar-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}
.navbar-menu-list{
    display: flex;
    justify-content: space-between;
}
.logo{
    text-align: center;
    text-decoration: none;
    color: var(--main--color);
    font-weight: 700;
    font-size: 45px;
}
.logo-item{
    font-size: 20px;
    font-weight: 700;
}
.navbar-menu-link{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: var(--main--color);
    line-height: 55px;
}
.navbar-menu-item{
    list-style: none;
    text-align: center;
    width: 90px;
}
.navbar-menu-item:hover{
    background-color: #f1f1f1;
}

/* search-cart */

.search{
    margin: auto;
    background-color:var(--secondary--color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
}
.search-cart{
    display: flex;
    align-items: center;
    margin-top: 55px;
    width: 100%;
    height: 150px;
    background-color: var(--main--color);
}
.search-cart-item{
    display: flex;
    align-items: center;
}
.search-input{
    height: 26px;
    width: 400px;
    font-size: 25px;
    border:none;
    outline: none;
}
.search-btn{
    width: 50px;
    height: 35px;
    margin-left: 10px;
    background-color: var(--main--color);
    border: none;
    cursor: pointer;
}
.search-icon{
    font-size: 20px;
    color: var(--secondary--color);
}
.cart-icon{
    font-size: 40px;
    color: var(--secondary--color);
}
.cart{
    cursor: pointer;
}

/* slider */

.slider{
    position: relative;
    height: 100%;
}
.slider-img{
    height: 100%;
}
.slider-img-item{
    width: 100%;
    height: 607px;
}
.slider-text1{
    top: 180px;
    left: 70px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    background-color: orange;
    border-radius: 10px;
    animation: bigText 0.3125s linear infinite;
    animation-direction: alternate;
}
@keyframes bigText{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.25);
    }
}
.slider-text-del{
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    width: 260px;
    height: 30px;
    overflow: hidden;
    border-right:3px solid white;
    animation: delete 2.5s linear infinite;
}
@keyframes delete{
    0%{
        width: 260px;
    }
    12.5%{
        width: 0px;
    }
    25%{
        width: 260px;
    }
    100%{
        width: 260px;
    }
}
.slider-text-go{
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    width: 260px;
    height: 30px;
}
.slider-text2{
    top: 300px;
    left: 105px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 50px;
    background-color: orange;
    border-radius: 10px;
    animation: bigText 0.3125s linear infinite;
    animation-direction: alternate;
}

/* introduce */

.introduce{
    padding: 100px 0 100px 0;
}
.introduce-title{
    font-size: 40px;
    color: var(--main--color);
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.introduce-content{
    font-size: 50px;
    color: var(--main--color);
    font-weight: 700;
    text-align: center;
}
.introduce-content-item{
    display: flex;
    font-size: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

/* content-category */

.content{
    background-color: #f1f1f1;
    padding: 100px 0 100px 0;
}
.content-category-product{
    width: 100%;
    padding: 20px 0 20px 0;
}

.content-category{
    background-color: var(--secondary--color);
    border-radius: 6px;
}
.content-title{
    color: var(--main--color);
    font-size: 25px;
    margin-left: 10px;
    padding: 15px 0 15px 0;
}
.content-category-book{
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 20px 0  0;
    margin-bottom: 20px;
}
.category-book-img{
    width: 100%;
    height: 80px;
    object-fit: contain;
    padding: 0 10px 0 10px;
}
.category-book-name{
    display: block;
    margin: auto;
    color: var(--main--color);
    text-align: center;
    text-decoration: none;
}
.content-category{
    padding: 20px 0 30px 0;
    background-color: var(--secondary--color);
    margin-bottom: 100px;
}
.content-product{
    padding: 20px 0 30px 0;
    background-color: var(--secondary--color);
    border-radius: 6px;
}
.content-product-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.content-product-product{
    width: 100%;
    padding: 20px 0 20px 0;
}
.content-product-book{
    text-decoration: none;
    background-color: var(--secondary--color);
    padding: 10px 20px 0 20px;
    display:inline-block;
    width: 230px;
    height: 434px;
}
.product-book-name{
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:var(--main--color);
    font-weight: 700;
    margin: 10px 0 15px 0;
    font-size: 17px;
    width: 100%;
    height: 38px;
    word-wrap:break-word;
}
.product-book-item{
    display: flex;
    justify-content: space-between;
    padding: 2px 0 2px 0;
}
.product-book-list{
    padding: 0 0 10px 0;
}
.product-book-text{
    color:var(--main--color)
}
.product-book-rice{
    display: block;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: var(--main--color);
    color:var(--secondary--color);
    text-align: center;
}
.product-book-img{
    width: 100%;
    height: 265px;
}

/* add */

.content-add {
    background-color: var(--main--color);
    margin-top: 55px;
    padding: 50px 0 50px 0;
}

.title-add{
    color: var(--secondary--color);
    font-size: 40px;
    margin-bottom: 30px;
}

.box-product-add{
    margin: 30px 0 30px 0;
    display: flex;
    align-items: center;
}

.content-title-add{
    color: var(--secondary--color);
    margin-bottom: 5px;
    font-size: 20px;
    width: 140px;
    display: inline-block
}

.input-add{
    background-color: var(--secondary--color);
    font-size: 19px;
}

.select-add{
    width: 200px;
    height: 30px;
}

.btn-add{
    width: 70px;
    height: 28px;
}

.box-add{
    margin: 30px 0 30px 0;
}

.add-category{
    padding: 10px 20px 10px 20px;
    height: 50px;
    background-color: var(--main--color);
    text-align: center;
    text-decoration: none;
    color: var(--secondary--color);
    font-size: 25px;
    line-height: 50px;
}

.add-category-bg{
    background-color: #f1f1f1;
    margin-top: 55px;
    padding: 50px 0 0 0;
}

.edit-delate-category{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.edit-delate-product{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}

.edit-delate-category-icon{
    font-size: 25px;
    color:var(--main--color);
}


.title-ok{
    animation: tnt 5s linear ;
    color: var(--secondary--color);
    font-size: 25px;
    margin-top: 20px;
    opacity: 0;
}
@keyframes tnt{
    0%{
        opacity: 0;}
    1%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.content-log{
    background-color: var(--main--color);
    height: 600px;
    margin-top: 55px;
}

.title-1{
    color: var(--secondary--color);
    font-size: 40px;
    padding-top: 50px;
}
.title_log {
    color: var(--secondary--color);
    width: 100px;
    display: inline-block;
}

.form_log {
    margin-top: 40px;
}

.btn-log{
    margin-top: 40px;
    width: 80px;
    height: 30px;
}

.input-log{
    width: 300px;
    height: 30px;
}
datalist#datalist option[value] {
    display: none;
}

/* product-details */

.details-img{
    width: 100%;
    height: 500px;
}
.content-details{
    background-color:#f1f1f1 ;
    padding: 100px 0 150px 0;
}
.details-img-name{
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:var(--main--color);
    font-weight: 700;
    margin: 20px 0 15px 0;
    font-size: 25px;
    width: 100%;
    height: 58px;
    word-wrap: break-word;
}

.content-item{
    font-size: 20px;
    padding: 10px 0 10px 0;
    color:var(--main--color);
}
.content-red{
    font-size: 25px;
    padding: 8px 0 8px 0;
    color:var(--auction--color);
}
.btn-content-auction{
    font-size: 20px;
    font-weight: 700;
    background-color: var(--auction--color);
    color: var(--secondary--color);
    border: none;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    margin: 20px 0 10px 0;
    text-decoration: none;
}
.content-auction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: solid 1px var(--main--color);
    border-bottom: solid 1px var(--main--color);
    border-radius: 6px;
    height: 500px;
}
.content-red-title{
    font-size: 25px;
    padding: 15px 0 15px 0;
    color:var(--auction--color);
    font-weight: 700;
}
#table-rice{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.content-details-box{
    position: relative;
    background-color:var(--secondary--color);
    border-radius: 6px;
    border: solid 1px var(--main--color);
}

.form-rice{
    display: flex;
    flex-direction:column ;
    align-items: center;
}
.input-rice{
    width: 173px;
    height: 40px;
    font-size: 18px;
}

.product-details-title{
    height: 147.2px;
    line-height: 18.4px;
    overflow: hidden;
    display:-webkit-box;
    -webkit-box-orient:vertical ;
    -webkit-line-clamp:8 ;
}

/* user_list */
.click-user_list{
    position: relative;
    list-style: none;
    text-align: center;
}
.header-user:hover  .user_list{
    display: block ;
}

.user_list{
    position: absolute;
    top:55px;
    z-index: 10;
    background-color: var(--secondary--color);
    display: none;
}
.user_list-item{
    width: 110px;
}


.user_list-item:hover{
    background-color: orange;
}

.user_list-item:hover .navbar-menu-link-item{
    color:var(--secondary--color)
}

.time-auction{
    color:var(--auction--color);
    font-size: 32px;
    font-weight: 700;
    width: 100%;
    margin: 10px 0 10px 0;
    text-align: center;
}
.product-book-rice-close{
    display: none;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: #999;
    color:var(--secondary--color);
    text-align: center;
}
.title-rice{
    color:var(--auction--color);
    animation:tnt01 5s linear;
    opacity: 0;
    margin-bottom: 10px;
}
@keyframes tnt01{
    0%{
        opacity: 0;}
    1%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
.content-red-stutus{
    margin-bottom: 35px;
}
.cart-auction-link{
    display: inline-block;
    text-decoration: none;
    width: 160px;
    height: 40px;
    background-color: var(--auction--color);
    color:var(--secondary--color);
    text-align: center;
    margin-top: 5px;
    border-radius: 7px;
    line-height: 40px;
    font-size: 25px;
}
.cart-auction-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.link-cart-product{
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: var(--auction--color);
    color:var(--secondary--color);
    margin: 20px 0 20px 0;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
.title-view-cart{
    text-align: center;
    color: var(--main--color);
    font-size: 30px;
    margin: 50px 0 50px 0;
}

/* footer */
.footer{
    padding: 50px 0 50px 0;
}
.contact{
    text-decoration: none;
    color:var(--main--color);
    margin: 5px 0 5px 0;
    display: inline-block;
}
.contact-title{
    font-size: 25px;
    margin-bottom: 20px;
    color:var(--main--color)
}
.footer-icon{
    color: var(--main--color);
}

.edit-delate-product-details{
    text-decoration: none;
    color: var(--main--color);
    font-size: 20px;
    display: flex;
    align-items: center;
}

.table-users{
    border: 1px solid var(--main--color);
    border-collapse: collapse;
    margin: auto;
}

.item-id{
    width: 70px;
    height: 50px;
    text-align: center;
}
.item-name{
    width: 180px;
    height: 50px;
    text-align: center;
}

.item-date{
    width: 260px;
    height: 50px;
    text-align: center;
}
.item-email{
    width: 260px;
    height: 50px;
    text-align: center;
}
.item-phone{
    width: 130px;
    height: 50px;
    text-align: center;
}
.item-pass-item{
    width: 150px;
    height: 50px;
    text-align: center;
    display:-webkit-box;
    -webkit-box-orient:vertical ;
    -webkit-line-clamp:1 ;
    line-height: 50px;
    padding: 0 10px 0 10px;
    overflow: hidden;
    display: block;
    margin-right: 10px;
    
}
td ,th,tr{
    border: 1px solid var(--main--color);
    border-collapse: collapse;
}
.gioithieu{
    padding: 20px;
    font-size: 18px;
    line-height: 27px;
    color: var(--main--color);
    text-align: left;
}
.user-auction-name{
    width: 160px;
    height: 50px;
    text-align: center;
}
.user-auction-phone{
    width: 110px;
    height: 50px;
    text-align: center;
}
.user-auction-email{
    width: 280px;
    height: 50px;
    text-align: center;
}
.user-auction-product{
    width: 300px;
    height: 50px;
    text-align: center;
}
.user-auction-rice{
    width: 90px;
    height: 50px;
    text-align: center;
}
.user-auction-rice_top{
    width: 90px;
    height: 50px;
    text-align: center;
}
.user-auction-time{
    width: 90px;
    height: 50px;
    text-align: center;
}

.content-details-user{
    padding: 0 0 100px 0;
}

.send-email{
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: orange;
    top:600px;
    right: 30px;
    border-radius: 80px;
    animation: tnt3 linear 0.5s infinite;
    z-index: 10;
}
@keyframes tnt3{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}
.link-send-email{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: orange;
    border-radius: 80px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    
}

.send-email-icon{
    font-size: 37px;
    color: var(--secondary--color);
}
.send-email-2{
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: orange;
    top:600px;
    right: 30px;
    border-radius: 80px;
    animation: tnt2 linear 0.5s infinite;
}
@keyframes tnt2{
    0%{
        opacity: 0.5;
        transform: scale(1);
    }
    100%{
        transform: scale(1.6);
        opacity: 0.5;
    }
}

